// Шрифт
$font-main:
  "NT Somic",
  system-ui,
  -apple-system,
  sans-serif;

// Отступы
$side-padding: 80px;
$side-padding-tablet: 32px;
$side-padding-mobile: 20px;

// Брейкпоинты
$bp-tablet: 960px;
$bp-mobile: 768px;

// Цвета
$color-dark: #262626;
$color-white: #fff;
$color-text: #333333;
$color-muted: #8a8a8a;
$color-grey: #ececec;
